/*
 *CSS for assignment A3
 *2017, dynamic web applications
 *Anne Hazel
 **/

.required {
    color: red;  
}

.resultsBox {
    margin-top: 2em;
    padding: 1em;
    border-radius: 15px;
    border-style: solid;
    border-color: #666666;

    
}

form {
    padding: 2em;
    border-radius: 15px;
    border: thin;
    background-color: #f2f2f2;
  
}

p {
    margin-bottom: 1em; 
}