/*
 *CSS for assignment A3
 *2017, dynamic web applications
 *Anne Hazel
 **/

.required {
    color: red;  
}

.resultsBox {
   
    
}

form {
  padding: 2em;
  border-radius: 25px;
  border: thin;
  background-color: #efeff5;
  
}

p {
    margin-bottom: 1em; 
}